<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dudi.myidea"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission-sdk-23
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="23" />
    <uses-permission-sdk-23
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".MyCompositionsListActivity" />
        <activity android:name=".LayoutListActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".SaveCompositionActivity" />
        <activity android:name=".ImageViewerActivity" />
        <activity android:name=".LayoutForThreeActivity" />
        <activity android:name=".LayoutForFourActivity" />
        <activity android:name=".LayoutForFiveActivity" />
        <activity android:name=".LayoutForSixActivity" />
        <activity android:name=".LayoutForSevenActivity" />
        <activity android:name=".LayoutForEightActivity" />


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f376db1abdda8bd2843b952088caf32bd6f7c428" />

    </application>

</manifest>